<div class="col-sm-6 col-sm-offset-2">
  <div class="row">
    <textarea class="form-control" ng-model="newWaste" ng-keypress="sendWaste($event)" placeholder="Post waste.... then press enter"></textarea>
  </div>

  <div class="row">
    <table class="waste-section">
      <tr>
        <a ng-show="incomingWastes" ng-click="setNewWastes()">There ara {{ difference }} new wastes</a>
      </tr>
      <tr ng-repeat="waste in wastes">
        <td>
          {{ waste.user }}<br>
          <image ng-src="{{ waste.userImage }}" class="image-responsive">
        </td>

        <td>
          <strong> {{ waste.date | date: 'dd/MM/yyyy hh:mm' }} <br> </strong>
          <p>
            {{ waste.content }}
          </p>
        </td>
      </tr>
    </table>
  </div>

</div>
